# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/s-libres/node_modules
/s-libres/.pnp
.pnp.js

# testing
/s-libres/coverage

# production
/s-libres/build

# misc
/s-libres/.DS_Store
/s-libres/.env.local
/s-libres/.env.development.local
/s-libres/.env.test.local
/s-libres/.env.production.local

/s-libres/npm-debug.log*
/s-libres/yarn-debug.log*
/s-libres/yarn-error.log*


.idea