body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;

  font-family: Georgia, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background: #dde;
  --color1: rgba(147, 222, 255, 0.94);
  --textColor: black;
  --grayColor: #555;
  --shadowColor: gray;
  --focusShadowColor: black;
  --arrowColor: #7076b9;
  --cardColor: rgba(0, 0, 0, 0.1);
  --brightness: 1.2;
  --floorButtonColor: black;
}

html[data-theme="dark"] {
  --background: rgb(10, 10, 17);
  --color1: rgba(161, 209, 241, 0.94);
  --textColor: white;
  --grayColor: #829696;
  --shadowColor: lightgray;
  --focusShadowColor: white;
  --arrowColor: #5c64b9;
  --cardColor: rgba(255, 255, 255, 0.1);
  --brightness: 1.8;
  --floorButtonColor: white;
}

.floorSelection {
	display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;

    position: fixed;
    z-index: 2;
}

.floorButtonDiv {
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    vertical-align: middle;
    font-size: x-large;
    border-radius: 3px;

    background: #5E5DF0;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 0px;
    opacity: 1;
    outline: 0 solid transparent;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    word-break: break-word;
    border: 0;
}

.floorButtonText {
    text-align: center;
    vertical-align: middle;
}

.roomName {
  pointer-events: none;
}

.roomName p {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  pointer-events: none;
  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  height: inherit;
}