.menuRDiv {
    z-index: 5;
    position: fixed;
    right: 10px;
    top: 50px;
    min-height: 50px;
    min-width: 50px;
    margin-right: 10vw;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;


    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.menuLDiv {
    z-index: 5;
    position: fixed;
    left: 10px;
    top: 50px;
    min-height: 50px;
    min-width: 50px;
    margin-left: 10vw;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;


    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.menuItems {
    z-index: 3;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    position: absolute;

    background: #5E5DF0;
    border-radius: 999px;
    -webkit-box-shadow: #5E5DF0 0 10px 20px -10px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    word-break: break-word;
    border: 0;

    -webkit-animation: itemAnimation 0.6s forwards;

    animation: itemAnimation 0.6s forwards;
}

.menuItems:nth-child(2) {
    transform-origin: 80px center;
    transform: translate(-60px) rotate(30deg);
    opacity: 0;

    animation-delay: 0.2s;
}

.menuItems:nth-child(3) {
    transform-origin: 80px center;
    transform: translate(-60px) rotate(-15deg);
    opacity: 0;

    animation-delay: 0.15s;
}

.menuItems:nth-child(4) {
    transform-origin: 80px center;
    transform: translate(-60px) rotate(-60deg);
    opacity: 0;

    animation-delay: 0.10s;
}

.menuItems:nth-child(5) {
    transform-origin: 80px center;
    transform: translate(-60px) rotate(-105deg);
    opacity: 0;

    animation-delay: 0.05s;
}


@keyframes itemAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.menuOpen {
    position: relative;
    z-index: 4;
    font-size: x-large;
    width: 50px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;

    background: #5E5DF0;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    cursor: pointer;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    word-break: break-word;
    border: 0;
}

.menuOpen:active {
    box-shadow: 1px 1px 1px #3b3b3b;
    transform: scale(97%);
}




.hidden {
    display: none;
}

.popUpMenu {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    transform: translate(-50%, -50%);
    padding: 5px;
    color: white;

    background: #5E5DF0;
    border-radius: 10px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;

    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    word-break: break-word;
    border: 0;
}

.timeSelector {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.popUpCloseButton {
    height: fit-content;
    width: fit-content;
    color: white;

    border: none;
    background: none;

    font-size: x-large;
    text-align: center;

    cursor: pointer;
}

.weekdayDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    gap: 10px;
}

.weekdayButton {
    color: #5E5DF0;

    background: white;
    border-radius: 10px;
    box-shadow: white 0 10px 20px -10px;
    box-sizing: border-box;
    cursor: pointer;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    word-break: break-word;
    border: 0;

}

.selectedDay {
    transform: scale(105%);
    color: white;
    border: solid 2px white;
    background: #5E5DF0;
    box-shadow: white 0 10px 20px -10px;
}

.timeInput {
    color: white;
    height: 50px;
    width: fit-content;
    padding: 5px;
    background: rgba(255, 255, 255, 0.5);
    border: 2px black;
    border-radius: 10px;
    margin: 10px;
    box-shadow: inset 0 0 5px white;
    text-align: center;
    font-size: x-large;

    cursor: pointer;
}

.timeText {
    color: white;
    text-align: center;
    font-size: inherit;
}

.submitButton {
    color: white;
    padding: 5px;
    background: rgba(255, 255, 255, 0.5);
    border: 2px black;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 0 2px gray;
    cursor: pointer;
    font-size: inherit;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.legendDiv {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.legendSubDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.colorBox {
    height: 20px;
    width: 20px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 0 2px var(--shadowColor);
    border: solid 2px white;
}

.textLegend {
    width: 190px;
    margin-left: 5px;
    font-weight: bold;
    text-shadow: 0 0 2px var(--shadowColor);
    font-size: inherit;
}

.greenBox {
    background-color: #0f0;
}

.orangeBox {
    background-color: #ff6200;
}

.redBox {
    background-color: #f00;
}

.greyBox {
    background-color: var(--grayColor);
}

.lightBlueBox {
    background-color: #0ae;
}

.blueBox {
    background-color: #00f;
}

.lineMenu {
    stroke-dasharray: 100;
    stroke-dashoffset: 131.4142135624;
    animation: dash 0.2s ease-in-out forwards;
}

@keyframes dash {
    to {
        stroke-dashoffset: 70;
    }
}

.opened {
    animation: dashOpen 0.2s ease-in-out forwards;
}

@keyframes dashOpen {
    from {
        stroke-dashoffset: 70;
    }

    to {
        stroke-dashoffset: -30;
    }
}