:root {
    --bg-color: rgb(20, 20, 20);
    --card-color: rgb(23, 23, 23);
}

body {
    background-color: var(--background);
    width: 100vw;
    height: 100vh;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#flexCard {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.flexCardItem {
    width: 300px;
    height: 260px;
    transform-style: preserve-3d;
    margin: 100px;
    transition: all 0.3s ease-in-out;
    display: block;
    cursor: pointer;
}


.flexCardItem:hover {
    transform: rotate3d(1, 0, 0, 70deg) translateY(70%);
    animation: 0.2s lightsOn forwards ease-in 0.4s;
}

@keyframes lightsOn {
    from {
        background-color: var(--card-color);
    }
    to {
        background: radial-gradient(circle, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.2) 46%, var(--card-color) 100%)
    }

}


.card {
    background-color: var(--card-color);
    border-radius: 10px;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: solid 2px gray;

    width: 100%;
    height: 100%;
    position: absolute;
}

.holoImage{
    max-height: 100%;
    max-width: 100%;
    position: absolute;

    display: none;
    transform: rotate3d(1, 0, 0, -70deg) scale(1%);

    border: 1px solid white;
    border-radius: 10px;
    opacity: 0.6;
    filter: brightness(var(--brightness));
    box-shadow: 0 0 1em var(--shadowColor);
}

.flexCardItem:hover .holoImage {
    display: block;
    animation: 0.3s holoImagePopup forwards ease-in 0.4s;
}

@keyframes holoImagePopup {
    40% {
        transform: rotate3d(1, 0, 0, -70deg) scale(1%);
    }
    100% {
        transform: rotate3d(1, 0, 0, -70deg) translateY(-100%) scale(1.2);
    }
}


.Image {
    max-width: 80%;
    max-height: 80%;
}

.svgScaleDiv {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    transform: rotate3d(1, 0, 0, -70deg) scale(0%);
    display: none;
}

.flexCardItem:hover .svgScaleDiv {
    display: block;
    animation: 0.3s svgScaleDivPopup forwards ease-in 0.4s;
}

@keyframes svgScaleDivPopup {
    40% {
        transform: rotate3d(1, 0, 0, -70deg) scale(1%);
    }
    100% {
        transform: rotate3d(1, 0, 0, -70deg) scale(120%);
    }
}


.scaling-svg-home {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    left:50%;
    top:50%;
    transform: translate(-50%, -100%);
}


.myPolygon{
    opacity: 40%;
}