body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;

  font-family: Georgia, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background: #dde;
  --color1: rgba(147, 222, 255, 0.94);
  --textColor: black;
  --grayColor: #555;
  --shadowColor: gray;
  --focusShadowColor: black;
  --arrowColor: #7076b9;
  --cardColor: rgba(0, 0, 0, 0.1);
  --brightness: 1.2;
}

html[data-theme="dark"] {
  --background: rgb(20, 20, 20);
  --color1: rgba(161, 209, 241, 0.94);
  --textColor: white;
  --grayColor: #829696;
  --shadowColor: lightgray;
  --focusShadowColor: white;
  --arrowColor: #5c64b9;
  --cardColor: rgba(255, 255, 255, 0.1);
  --brightness: 1.8;

}